.sv_main .sv_body {
    border: none !important;
}

.sv_page_title {
    font-size: 2.125rem !important;
}

.sv_q_title, .sv_q_dropdown_control, .sv_q_radiogroup_label {
    font-size: 1.125rem !important;
    font-family: Helvetica, Arial, sans-serif !important;
}

.sv_next_btn, .sv_progress {
    font-size: 0.75rem !important;
}

.sv_main .sv_select_wrapper:before {
    box-sizing: border-box;
    height: 100%;
    top: 0 !important;
    z-index: 1;
}

.sv_q_radiogroup {
    margin: 6px 0;
}

.sv_progress_bar {
    margin-bottom: 5px;
    background-color: var(--csps-coral) !important;
}

.sv_prev_btn {
    float: unset !important;
}