.footer {
    height: 64px;
    background-color: #F7F7F7;

    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    box-sizing: border-box;
}

.footer img {
    object-fit: contain;
    object-position: left;
}

.footer img:last-of-type {
    object-position: right;
}