.header {
    display: flex;
    justify-content: space-between;
    height: 84px;
    background-color: #3F2A56;
    padding: 20px 30px;
    box-sizing: border-box;
}

.header img {
    object-fit: contain;
    object-position: left;
}

.header img:last-of-type {
    object-position: right;
}