.resultsPage {
    max-width: 950px;
    margin: 0 auto;
    background-color: white;
    padding: 30px;
    box-shadow: 0 0 20px rgb(0 0 0 / 0.15);
}

.resultsPage p {
    color: var(--light-text-color);
}

.title {
    font-size: 2.125rem;
    font-weight: normal;
    margin-top: 5px;
}

.saveAsPDF {
    display: flex;
    align-items: center;
    float: right;
    margin-top: 20px;
}

.saveAsPDF i {
    font-size: 1.25rem;
    margin-right: 5px;
}

.resultTypeHeading {
    font-size: 1.125rem;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif !important;
    border-bottom: solid black 1px;
    border-radius: 1px;
    padding-bottom: 10px;
    clear: both;
}

.resultBox {
    display: flex;
    padding: 20px;;
    background-color: var(--csps-light-grey);
    border-radius: 12px;
}

.resultBox h3 {
    margin-top: 0;
    font-size: 1.25rem;
    font-weight: normal;
}

.resultBox p, .resultBox li {
    color: black;
    font-size: 1rem;
}

.emoji {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5.5rem;
    height: 140px;
    width: 140px;
    min-width: 140px;
    margin-right: 20px;
    border-radius: 50%;
    background-color: white;
    user-select: none;
}

@media only screen and (max-width: 650px) {
    .resultsPage {
        padding: 15px 20px 35px 20px;
        box-sizing: border-box;
        max-width: unset;
    }

    .resultBox {
        flex-direction: column;
        align-items: center;
    }

    .resultBox h3 {
        text-align: center;
    }

    .emoji {
        margin-right: unset;
        margin-bottom: 20px;
    }
}