.container {
    display: flex;
    flex: 1;
}

.survey {
    background-color: white;
    margin: 0 auto;
    box-shadow: 0 0 20px rgb(0 0 0 / 0.15);
}

.survey div {
    max-width: 950px;
}

.restartButton {
    float: left;
    margin-right: 5px;
}

.decoration {
    flex: 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}