.toolBar {
    padding: 5px 10px;
    border-radius: 8px 0px 0px 8px;
    background-color: var(--csps-purple);
    right: 0;
    top: 100px;
    position: absolute;
    z-index: 1;
    color: white;
    text-decoration: none;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
}