.home {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--csps-light-grey);
}

.contentContainer {
    flex: 1;
    max-width: 70%;
    margin: 0 auto;
    padding: 10px 35px 50px 35px;
    background-color: white
}

.introContent {
    display: flex;
}

.introContent div {
    flex: 1;
    margin: 0 15px;
}

.introContent div:first-of-type {
    margin-left: 0;
}

.introContent div:last-of-type {
    margin-right: 0;
}

.introContent div h2 {
    padding-bottom: 10px;
    border-bottom: solid var(--csps-grey) 1px;
}