.home {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--csps-light-grey);
}

.contentContainer {
    flex: 1;
    max-width: 70%;
    margin: 0 auto;
    padding: 10px 35px 50px 35px;
    background-color: white;
    box-shadow: 0 0 20px rgb(0 0 0 / 0.15);
}

.introContent {
    display: flex;
}

.introContent div {
    flex: 1;
    margin: 0 15px;
}

.introContent div:first-of-type {
    margin-left: 0;
}

.introContent div:last-of-type {
    margin-right: 0;
}

.introContent div h2 {
    padding-bottom: 10px;
    border-bottom: solid var(--csps-grey) 1px;
}

@media only screen and (max-width: 1400px) {
    .contentContainer {
        max-width: 80%;
    }
}

@media only screen and (max-width: 1200px) {
    .contentContainer {
        max-width: unset;
    }
}

@media only screen and (max-width: 1000px) {
    .introContent {
        flex-direction: column;
    }

    .introContent div {
        margin: unset;
    }
}

@media only screen and (max-width: 650px) {
    .contentContainer {
        padding: 0 20px 35px 20px;
    }
}