:root {
    --csps-purple: rgb(63, 42, 86);
    --csps-grey: rgb(78, 91, 115);
    --csps-light-grey: #EDEFF1;
    --csps-medium-grey: #E5E7EA;
    --csps-coral: #DA797A;
}

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 2.75rem;
}

h2 {
    font-size: 2.125rem;
    font-weight: normal;
}

p, li {
    font-size: 1.125rem;
}

a {
    color: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button, .sv_nav input {
    font-size: 0.75rem !important;
    font-weight: normal !important;
    padding: 10px 25px !important;
    border-radius: 5px !important;
    border: solid 1px !important;
    cursor: pointer !important;
    border-color: #434E63 !important;
    color: white !important;
    background-color: var(--csps-grey) !important;
    -webkit-appearance: none;
}
button.light {
    border-color: #C0C5CF !important;
    color: black !important;
    background-color: #D6DAE1 !important;
}
