:root {
    --csps-purple: rgb(63, 42, 86);
    --csps-grey: rgb(78, 91, 115);
    --csps-light-grey: #EDEFF1;
    --csps-medium-grey: #E5E7EA;
    --csps-coral: #DA797A;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button.dark {
    padding: 10px 25px;
    border-radius: 5px;
    border: solid #434E63 1px;
    color: white;
    background-color: var(--csps-grey);
    cursor: pointer;
}
